<h1 style="text-align:center;">{{ name }}</h1>
<div style="width:400px;height:300px;position:absolute;left:50%;top:50%;margin:-200px 0 0 -150px;font-size:24pt;text-align:center;">
    1 <a href="/fetch_database">Update database</a><br />
    1.1 <a href="/add_event">Add en event</a><br />
    2 <a href="/event_analysis">Event analysis</a><br />
    2.1 <a href="/list_event_feature">List event-features</a><br />
    3. <a href="/facebook_analysis">Fetch Facebook data</a><br />
    3.1 <a href="/facebook_info">List user-features (via FB)</a>
    4. <a href="/list_events">Let's rate !</a><br />
    5. <a href="/manage">Recommendation</a><br />
</div>