<h1 style="text-align:center;">Welcome {{ name }}</h1>
<p style="text-align:center;"><a href="/facebook_info">Click here for more info !</a></p>
<div style="width:250px;height:150px;position:absolute;left:50%;top:50%;margin:-75px 0 0 -125px;font-size:24pt;text-align:center;">
    <a href="/add_event">Add en event</a>
    <a href="/fetch_database">Update database</a><br />
    <a href="/event_analysis">Event analysis</a><br />
    <a href="/list_event_feature">List event-features</a><br />
    <a href="/list_events">Let's rate !</a><br />
    <a href="/manage">Recommendation</a>
</div>