{% if event %}
    <h2>Event added</h2>
    {% for i in event %}
        {{ i }}<br /><br />
    {% endfor %}
{% else %}
    <form action="addEventProcess" method="post">
    {% csrf_token %}
        <label for="externalId">*External Id :</label>
        <input type="text" name="externalId" id="externalId" value="" /><br />

        <label for="name">*Name :</label>
        <input type="text" name="name" id="name" value="" /> <br />

        <label for="category">*Category :</label>
        <select id="category" name="category">
            {% for c in categories %}
                <option value="{{ c.externalId }}">{{ c.name }}</option>
            {% endfor %}
        </select><br />

        <label for="website">Website : </label>
        <input type="text" name="website" id="website" value="" /> <br/>

        <label for="description">*Description :</label><br />
        <textarea name="description" id="description" rows="20" cols="50"></textarea><br /><br />

        <input type="submit" value="Add" />
    </form>
{% endif %}
<br />
<a href="manage">Back</a>