<a href="/manage">Back</a>
<h2>Rated Events</h2>
<ul>
    {% for re in rated_events %}
        <li>{% for rv in rating_values %}
                {% if re.1 != rv %}
                    <a href="/rate_event/{{ re.0.external_id }}/{{ rv }}">{{ rv }}</a>
                {% endif %}
            {% endfor %}
            <a href="/rate_event/{{ re.0.external_id }}/-1">N</a>
            <b
                {% if re.1 > 3 %}
                    style="color:green;"
                {% endif %}
                {% if re.1 == 3 %}
                    style="color:orange;"
                {% endif %}
                {% if re.1 < 3 %}
                    style="color:red;"
                {% endif %}
                >{{ re.1 }}</b>
            <span style="color:brown;">{{ re.0.category.name }}</span> : <b style="color:crimson;">{{ re.0.name }}</b> <i style="color:gray;">{{ re.0.description }}</i></li>
    {% endfor %}
</ul>

<h2>Unrated Events</h2>
<ul>
    {% for re in unrated_events %}
        <li>
            {% for rv in rating_values %}
                <a href="/rate_event/{{ re.external_id }}/{{ rv }}">{{ rv }}</a>
            {% endfor %}
            <span style="color:brown;">{{ re.category.name }}</span> : <b style="color:crimson;">{{ re.name }}</b> <i style="color:gray;">{{ re.description }}</i></li>
    {% endfor %}
</ul>
<a href="/manage">Back</a>